.card{
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 350px;
    display:inline-block;
}

.text {
    font: bold 30px arial, sans sariff;
    padding-top: 30%;
}

.card:hover{
    background-color: black;
    color: white;
}

